extends layout

block content
  h1= 'VTS Lab Access Control'
  p Here you can control our labratory lock
  
  h3
    button(onClick=`onUnlockClicked()`)='Unlock'
    span='Status: '
    span(id="status")='Locked'
