body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.header {
  padding-bottom: 40px;
}
.flex {
  display: flex;
}
.sameRow {
  width: 100%;
}
#response {
  width: 150px;
}
