body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.header {
  text-align: center;
  padding-bottom: 40px;
}
.flex {
  display: flex;
}
.sameRow {
  width: 100%;
}

.longer {
  width: 140%;
}
#response {
  width: 150px;
}
#loginResponse {
  white-space: nowrap;
}
#usernamePref,
#passwordPref,
#macPref {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding-bottom: 8px;
}
#btnLogin {
  width: 150px;
  margin-left: 50px;
}
.toRight {
  position: relative;
  width: 65%;
}
.btnRight {
  position: absolute;
  right: 10px;
}

.lessRight {
  right: 90px;
}

li {
  display: flex;
  flex-wrap: nowrap;
}

ul {
  overflow-y: auto;
  max-height: 350px;
}